@font-face {
    font-family: Exo2-Bold;
    src: url(../fonts/Exo2-ExtraBold.ttf);
}

@font-face {
    font-family: Exo2-Regular;
    src: url(../fonts/Exo2-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Italianno;
    src: url(../fonts/Italianno-Regular.ttf);
}

ul {
    font-size: inherit;
}

li {
    font-size: inherit;
}

.lines-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.lines {
    position: absolute;
    z-index: -1;
    height: 220%;
    width: 220%;
    margin-left: -66%;
    margin-top: -40%;
    animation-name: line;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes line {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

body {
    background: #000;
    color: #fff;
    animation-name: lights;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'OpenSans';
    margin: 0;
}

p {
    margin: 0;
}

.launch-container {
    margin: 0 11.5vw 10vh 11.5vw;
}

.desktop nav {   
    display: flex;
    flex-flow: row nowrap;
}

.desktop nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10vh calc(0.4vh + 0.4vw/0.7) calc(2vh + 2vw/0.7) calc(0.4vh + 0.4vw/0.7);
    margin: 0 13px 0 13px;
    font-size: calc(0.7vh + 0.7vw/0.7);
}

.desktop nav a span {
    padding: 20px 0 20px 0;
    border-top: .5px solid rgba(0,0,0,0);
    border-bottom: .5px solid rgba(0,0,0,0);
    transition: all .3s ease-in;
}

.desktop nav a span:hover {
    padding: 2px 0 2px 0;
    border-top: .5px solid rgba(255,255,255,1);
    border-bottom: .5px solid rgba(255,255,255,1);
}

.desktop nav .nav-light {
    background: linear-gradient(180deg, rgba(64,64,64,0.99) 0%, rgba(38,38,38,0) 100%);
}

.launch-main-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 7.5vh;
}

.left-container .name {
    font-size: calc(5.4vh + 5.4vw/0.7);
    font-family: 'Exo2-Bold';
    line-height: calc(5.4vh + 5.4vw/0.7);
}

.right-container {
    margin-left: calc(7vh + 7vw*0.7);
}

.right-container p {
    font-family: 'OpenSans';
    font-size: calc(0.71vh + 0.71vw/0.7);
    line-height: calc(1.1vh + 1.1vw/0.7);
    text-align: left;
}

.right-container p  span{
    background: linear-gradient(270deg, rgba(70,70,70,1) 0%, rgba(38,38,38,0.75) 100%);
}

.icon {
    padding-right: calc(0.2vh + 0.2vw/0.7);
}

.desktop .info, .info-mobile {
    margin-top: 5vh;
}

.info-mobile {
    display: none;
}

.desktop .links, .location {
    background: linear-gradient(90deg, rgba(64,64,64,0.99) 0%, rgba(38,38,38,0) 30%);
    display: flex;
    flex-flow: row nowrap;
    font-size: calc(0.71vh + 0.71vw/0.7);
    margin-top: 2vh;
    padding: calc(0.1vh + 0.1vw/0.7) 0 calc(0.1vh + 0.1vw/0.7) calc(0.8vh + 0.8vw/0.7);
}

.desktop .links a, .location a {
    display: block;
    text-decoration: none;
    color: #bbb;
    padding-right: calc(0.8vh + 0.8vw/0.7);
    transition: color .3s ease-in;
}

.links a:hover, .location a:hover {
    color: #fff;
}

.launch-footer {
    position: relative;
    font-size: calc(0.5vh + 0.5vw/0.7);
    color: #555;
    /*writing-mode: vertical-lr;
    transform: rotate(180deg);*/
}

.launch-footer p {
    text-align: right;
    padding-right: 15px;
}

.launch-footer p span {
    color: #aaa;
}

@media only screen and (max-width: 800px) {
    .lines-container {
        display: none;
    }
    
    .desktop nav a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 60px 5px 0 5px;
        margin: 0 13px 0 13px;
        font-size: 16px;
    }

    .desktop nav a span {
        padding: 0;
        border-top: 0 solid rgba(0,0,0,0);
        border-bottom: 0 solid rgba(0,0,0,0);
        transition: none;
    }

    .desktop nav a span:hover {
        padding: 0;
        border-top: 0 solid rgba(255,255,255,1);
        border-bottom: 0 solid rgba(255,255,255,1);
    }
    
    .container {
        margin: 0 7% 0 7%;
    }

    .desktop .info {
        display: none;
    }

    .info-mobile {
      display: block;
      margin-top: 20px;
    }

    .launch-main-container {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .right-container {
        margin: 0;
    }

    .left-container .name {
        font-size: 80px !important;
        line-height: 80px !important;
    }

    .right-container p {
        font-size: 16px;
        line-height: 25px;
        margin-top: 20px;
    }

    .desktop .links, .location {
        font-size: 14px;
        margin-top: 10px;
        padding: 1px 0 1px 10px;
    }

    .launch-footer {
        font-size: 12px;
    }
  }


  /* RESEARCH PAGE */

.container {
    margin: 0 10vw 1vh 10vw;
}

.main-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    padding: 30px calc(0.4vh + 0.4vw/0.7 + 13px) 0 calc(0.4vh + 0.4vw/0.7 + 13px);
    box-sizing: border-box;
}

.side-box {
    position: relative;
    width: 23%;
    top: 0;
}

.side-box .personal-info-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 75px;
}

.main-flow {
    width: 77%;
    margin-left: 80px;
}

.side-box .name {
    font-family: 'Exo2-Bold';
    font-size: 85px;
    line-height: 85px;
}

.side-box p {
    font-size: 20px;
    margin: 25px 0 25px 0;
    line-height: 29px;
}

.side-box .info {
    background: linear-gradient(90deg, rgba(64,64,64,0.7) 0%, rgba(38,38,38,0) 70%);
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
    padding: 1px 0 1px 12px;
    margin-top: 10px;
}

.side-box .icon {
    width: 25px;
    padding-right: 6px !important;
}

.side-box .info a {
    display: block;
    text-decoration: none;
    color: #bbb;
    padding-right: calc(0.8vh + 0.8vw/0.7);
    transition: color .3s ease-in;
}

.side-box .info a:hover {
    color: #fff;
}

.main-flow-container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 70px;
}

.main-flow-container .title, .main-flow-container .topics {
    display: flex;
    flex-flow: row wrap;
}

.main-flow-container .title {
    font-size: 22px;
}

.main-flow-container .title div {
    margin-bottom: 12px;
}

.main-flow-container .topics {
    margin-bottom: 10px;
    font-size: 19px;
}

.main-flow .date {
    background: #fff;
    color: #000;
    padding: 2px 12px;
    margin-right: 12px;
}

.main-flow .subject {
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 12px;
}

.main-flow .topics div {
    background: #404040;
    color: #eee;
    padding: 3px 11px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.main-flow .topics div:first-child {
    background: #0070c0;
}

.main-flow .text {
    font-size: 20px;
    line-height: 28px;
    color: #ddd;
    text-align: justify;
}

.main-flow .text span {
    color: #59baff;
}

.main-flow .text a {
    color: #bbb;
    text-decoration: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #bbb;
    transition: all .3s ease-in;
}

.main-flow .text a:hover {
    color: #fff;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.main-flow .text img {
    float: left;
    height: 250px;
    margin-top: 8px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.footer {
    position: relative;
    bottom: 0;
    font-size: calc(0.5vh + 0.5vw/0.7);
    color: #555;
}

.footer p {
    text-align: right;
    padding: 10px 30px 15px 0;
}

.footer p span {
    color: #aaa;
}

@media only screen and (max-width: 1700px) {
    .container {
        margin: 0 6.5vw 10vh 6.5vw;
    }
}

@media only screen and (max-width: 1500px) {
    .container {
        margin: 0 5vw 10vh 5vw;
    }

    .main-container {
        padding: 0 calc(0.4vh + 0.4vw/0.7 + 13px) 0 calc(0.4vh + 0.4vw/0.7 + 13px);
    }
    
    .side-box .name {
        font-size: 72px;
        line-height: 72px;
    }
    
    .side-box p {
        font-size: 17px;
        margin: 20px 0;
        line-height: 26px;
    }
    
    .side-box .info {
        font-size: 17px;
        padding: 1px 0 1px 12px;
        margin-top: 8px;
    }
        

    .side-box .icon {
        width: 20px;
        padding-right: 6px !important;
    }

    .main-flow {
        margin-left: 50px;
    }
    
    .main-flow-container {
        margin-top: 15px;
        margin-bottom: 70px;
    }

    .main-flow-container .title{
        font-size: 19px;
    }
    
    .main-flow-container .title div {
        margin-bottom: 10px;
    }
    
    .main-flow-container .topics {
        margin-bottom: 7px;
        font-size: 16px;
    }
    
    .main-flow .date {
        margin-right: 10px;
    }
    
    .main-flow .subject {
        padding: 2px 12px;
    }
    
    .main-flow .topics div {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .main-flow .text {
        font-size: 17px;
        line-height: 25px;
    }
    
    .main-flow .text img {
        height: 220px;
        margin-top: 8px;
        margin-right: 21px;
        margin-bottom: 21px;
    }
}

@media only screen and (max-width: 1200px) {
    .side-box .name {
        font-size: 50px;
        line-height: 50px;
    }
    
    .side-box p {
        font-size: 13px;
        margin: 10px 0;
        line-height: 18px;
    }
    
    .side-box .info {
        font-size: 13px;
        padding: 1px 0 1px 9px;
        margin-top: 7px;
    }

    .side-box .icon {
        width: 16px;
        padding-right: 4px !important;
    }
        
    .main-flow {
        width: calc(77% - 25px);
        margin-left: 25px;
    }

    .main-flow-container .title{
        font-size: 18px;
    }
    
    .main-flow-container .title div {
        margin-bottom: 9px;
    }
    
    .main-flow-container .topics {
        margin-bottom: 6px;
        font-size: 15px;
    }
    
    .main-flow .date {
        margin-right: 9px;
    }
    
    .main-flow .subject {
        padding: 2px 12px;
    }
    
    .main-flow .topics div {
        margin-right: 9px;
        margin-bottom: 9px;
    }
    
    .main-flow .text {
        font-size: 16px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        margin: 0 2vw 10vh 2vw;
    }

    .main-container .side-box {
        display: none;
    }

    .main-flow {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .main-flow img {
        display: none;
    }

    .main-flow-container {
        margin-bottom: 35px;
    }

    .main-flow-container .title{
        font-size: 16px;
    }
    
    .main-flow-container .title div {
        margin-bottom: 8px;
    }
    
    .main-flow-container .topics {
        margin-bottom: 6px;
        font-size: 14px;
    }
    
    .main-flow .date {
        margin-right: 8px;
    }
    
    .main-flow .subject {
        padding: 2px 12px;
    }
    
    .main-flow .topics div {
        margin-right: 8px;
        margin-bottom: 8px;
    }
    
    .main-flow .text {
        font-size: 15px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block !important;
    }
}

.mobile {
    display: none;
}